.suggest_link {
	padding: 2px 6px 2px 6px;
}

.suggest_link_over {
	background-color: #33FFFF;
	padding: 2px 6px 2px 6px;
}

#search_suggest {
	position: absolute;
	background-color: #FFFFFF;
	text-align: left;
	border: 1px solid #000000;
}