<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.CstActivityMapper" >
  <resultMap id="BaseResultMap" type="com.crm.bean.CstActivity" >
    <id column="atv_id" property="atvId" jdbcType="BIGINT" />
    <result column="atv_cust_no" property="atvCustNo" jdbcType="VARCHAR" />
    <result column="atv_cust_name" property="atvCustName" jdbcType="VARCHAR" />
    <result column="atv_date" property="atvDate" jdbcType="TIMESTAMP" />
    <result column="atv_place" property="atvPlace" jdbcType="VARCHAR" />
    <result column="atv_title" property="atvTitle" jdbcType="VARCHAR" />
    <result column="atv_desc" property="atvDesc" jdbcType="VARCHAR" />
    <result column="atv_remark" property="atvRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    atv_id, atv_cust_no, atv_cust_name, atv_date, atv_place, atv_title, atv_desc, atv_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.crm.bean.CstActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cst_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cst_activity
    where atv_id = #{atvId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cst_activity
    where atv_id = #{atvId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.crm.bean.CstActivityExample" >
    delete from cst_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crm.bean.CstActivity" >
    insert into cst_activity (atv_id, atv_cust_no, atv_cust_name, 
      atv_date, atv_place, atv_title, 
      atv_desc, atv_remark)
    values (#{atvId,jdbcType=BIGINT}, #{atvCustNo,jdbcType=VARCHAR}, #{atvCustName,jdbcType=VARCHAR}, 
      #{atvDate,jdbcType=TIMESTAMP}, #{atvPlace,jdbcType=VARCHAR}, #{atvTitle,jdbcType=VARCHAR}, 
      #{atvDesc,jdbcType=VARCHAR}, #{atvRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.bean.CstActivity" >
    insert into cst_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="atvId != null" >
        atv_id,
      </if>
      <if test="atvCustNo != null" >
        atv_cust_no,
      </if>
      <if test="atvCustName != null" >
        atv_cust_name,
      </if>
      <if test="atvDate != null" >
        atv_date,
      </if>
      <if test="atvPlace != null" >
        atv_place,
      </if>
      <if test="atvTitle != null" >
        atv_title,
      </if>
      <if test="atvDesc != null" >
        atv_desc,
      </if>
      <if test="atvRemark != null" >
        atv_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="atvId != null" >
        #{atvId,jdbcType=BIGINT},
      </if>
      <if test="atvCustNo != null" >
        #{atvCustNo,jdbcType=VARCHAR},
      </if>
      <if test="atvCustName != null" >
        #{atvCustName,jdbcType=VARCHAR},
      </if>
      <if test="atvDate != null" >
        #{atvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="atvPlace != null" >
        #{atvPlace,jdbcType=VARCHAR},
      </if>
      <if test="atvTitle != null" >
        #{atvTitle,jdbcType=VARCHAR},
      </if>
      <if test="atvDesc != null" >
        #{atvDesc,jdbcType=VARCHAR},
      </if>
      <if test="atvRemark != null" >
        #{atvRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crm.bean.CstActivityExample" resultType="java.lang.Integer" >
    select count(*) from cst_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cst_activity
    <set >
      <if test="record.atvId != null" >
        atv_id = #{record.atvId,jdbcType=BIGINT},
      </if>
      <if test="record.atvCustNo != null" >
        atv_cust_no = #{record.atvCustNo,jdbcType=VARCHAR},
      </if>
      <if test="record.atvCustName != null" >
        atv_cust_name = #{record.atvCustName,jdbcType=VARCHAR},
      </if>
      <if test="record.atvDate != null" >
        atv_date = #{record.atvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.atvPlace != null" >
        atv_place = #{record.atvPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.atvTitle != null" >
        atv_title = #{record.atvTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.atvDesc != null" >
        atv_desc = #{record.atvDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.atvRemark != null" >
        atv_remark = #{record.atvRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cst_activity
    set atv_id = #{record.atvId,jdbcType=BIGINT},
      atv_cust_no = #{record.atvCustNo,jdbcType=VARCHAR},
      atv_cust_name = #{record.atvCustName,jdbcType=VARCHAR},
      atv_date = #{record.atvDate,jdbcType=TIMESTAMP},
      atv_place = #{record.atvPlace,jdbcType=VARCHAR},
      atv_title = #{record.atvTitle,jdbcType=VARCHAR},
      atv_desc = #{record.atvDesc,jdbcType=VARCHAR},
      atv_remark = #{record.atvRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.bean.CstActivity" >
    update cst_activity
    <set >
      <if test="atvCustNo != null" >
        atv_cust_no = #{atvCustNo,jdbcType=VARCHAR},
      </if>
      <if test="atvCustName != null" >
        atv_cust_name = #{atvCustName,jdbcType=VARCHAR},
      </if>
      <if test="atvDate != null" >
        atv_date = #{atvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="atvPlace != null" >
        atv_place = #{atvPlace,jdbcType=VARCHAR},
      </if>
      <if test="atvTitle != null" >
        atv_title = #{atvTitle,jdbcType=VARCHAR},
      </if>
      <if test="atvDesc != null" >
        atv_desc = #{atvDesc,jdbcType=VARCHAR},
      </if>
      <if test="atvRemark != null" >
        atv_remark = #{atvRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where atv_id = #{atvId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.bean.CstActivity" >
    update cst_activity
    set atv_cust_no = #{atvCustNo,jdbcType=VARCHAR},
      atv_cust_name = #{atvCustName,jdbcType=VARCHAR},
      atv_date = #{atvDate,jdbcType=TIMESTAMP},
      atv_place = #{atvPlace,jdbcType=VARCHAR},
      atv_title = #{atvTitle,jdbcType=VARCHAR},
      atv_desc = #{atvDesc,jdbcType=VARCHAR},
      atv_remark = #{atvRemark,jdbcType=VARCHAR}
    where atv_id = #{atvId,jdbcType=BIGINT}
  </update>
</mapper>