<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.OrdersLineMapper" >
  <resultMap id="BaseResultMap" type="com.crm.bean.OrdersLine" >
    <id column="odd_id" property="oddId" jdbcType="BIGINT" />
    <result column="odd_order_id" property="oddOrderId" jdbcType="BIGINT" />
    <result column="odd_prod_id" property="oddProdId" jdbcType="BIGINT" />
    <result column="odd_count" property="oddCount" jdbcType="INTEGER" />
    <result column="odd_unit" property="oddUnit" jdbcType="VARCHAR" />
    <result column="odd_price" property="oddPrice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    odd_id, odd_order_id, odd_prod_id, odd_count, odd_unit, odd_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.crm.bean.OrdersLineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders_line
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orders_line
    where odd_id = #{oddId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orders_line
    where odd_id = #{oddId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.crm.bean.OrdersLineExample" >
    delete from orders_line
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crm.bean.OrdersLine" >
    insert into orders_line (odd_id, odd_order_id, odd_prod_id, 
      odd_count, odd_unit, odd_price
      )
    values (#{oddId,jdbcType=BIGINT}, #{oddOrderId,jdbcType=BIGINT}, #{oddProdId,jdbcType=BIGINT}, 
      #{oddCount,jdbcType=INTEGER}, #{oddUnit,jdbcType=VARCHAR}, #{oddPrice,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.bean.OrdersLine" >
    insert into orders_line
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oddId != null" >
        odd_id,
      </if>
      <if test="oddOrderId != null" >
        odd_order_id,
      </if>
      <if test="oddProdId != null" >
        odd_prod_id,
      </if>
      <if test="oddCount != null" >
        odd_count,
      </if>
      <if test="oddUnit != null" >
        odd_unit,
      </if>
      <if test="oddPrice != null" >
        odd_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oddId != null" >
        #{oddId,jdbcType=BIGINT},
      </if>
      <if test="oddOrderId != null" >
        #{oddOrderId,jdbcType=BIGINT},
      </if>
      <if test="oddProdId != null" >
        #{oddProdId,jdbcType=BIGINT},
      </if>
      <if test="oddCount != null" >
        #{oddCount,jdbcType=INTEGER},
      </if>
      <if test="oddUnit != null" >
        #{oddUnit,jdbcType=VARCHAR},
      </if>
      <if test="oddPrice != null" >
        #{oddPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crm.bean.OrdersLineExample" resultType="java.lang.Integer" >
    select count(*) from orders_line
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders_line
    <set >
      <if test="record.oddId != null" >
        odd_id = #{record.oddId,jdbcType=BIGINT},
      </if>
      <if test="record.oddOrderId != null" >
        odd_order_id = #{record.oddOrderId,jdbcType=BIGINT},
      </if>
      <if test="record.oddProdId != null" >
        odd_prod_id = #{record.oddProdId,jdbcType=BIGINT},
      </if>
      <if test="record.oddCount != null" >
        odd_count = #{record.oddCount,jdbcType=INTEGER},
      </if>
      <if test="record.oddUnit != null" >
        odd_unit = #{record.oddUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.oddPrice != null" >
        odd_price = #{record.oddPrice,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders_line
    set odd_id = #{record.oddId,jdbcType=BIGINT},
      odd_order_id = #{record.oddOrderId,jdbcType=BIGINT},
      odd_prod_id = #{record.oddProdId,jdbcType=BIGINT},
      odd_count = #{record.oddCount,jdbcType=INTEGER},
      odd_unit = #{record.oddUnit,jdbcType=VARCHAR},
      odd_price = #{record.oddPrice,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.bean.OrdersLine" >
    update orders_line
    <set >
      <if test="oddOrderId != null" >
        odd_order_id = #{oddOrderId,jdbcType=BIGINT},
      </if>
      <if test="oddProdId != null" >
        odd_prod_id = #{oddProdId,jdbcType=BIGINT},
      </if>
      <if test="oddCount != null" >
        odd_count = #{oddCount,jdbcType=INTEGER},
      </if>
      <if test="oddUnit != null" >
        odd_unit = #{oddUnit,jdbcType=VARCHAR},
      </if>
      <if test="oddPrice != null" >
        odd_price = #{oddPrice,jdbcType=DOUBLE},
      </if>
    </set>
    where odd_id = #{oddId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.bean.OrdersLine" >
    update orders_line
    set odd_order_id = #{oddOrderId,jdbcType=BIGINT},
      odd_prod_id = #{oddProdId,jdbcType=BIGINT},
      odd_count = #{oddCount,jdbcType=INTEGER},
      odd_unit = #{oddUnit,jdbcType=VARCHAR},
      odd_price = #{oddPrice,jdbcType=DOUBLE}
    where odd_id = #{oddId,jdbcType=BIGINT}
  </update>
</mapper>