<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.SysRoleRightMapper" >
  <resultMap id="BaseResultMap" type="com.crm.bean.SysRoleRightKey" >
    <id column="rf_right_code" property="rfRightCode" jdbcType="VARCHAR" />
    <id column="rf_role_id" property="rfRoleId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rf_right_code, rf_role_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.crm.bean.SysRoleRightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_role_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.crm.bean.SysRoleRightKey" >
    delete from sys_role_right
    where rf_right_code = #{rfRightCode,jdbcType=VARCHAR}
      and rf_role_id = #{rfRoleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.crm.bean.SysRoleRightExample" >
    delete from sys_role_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crm.bean.SysRoleRightKey" >
    insert into sys_role_right (rf_right_code, rf_role_id)
    values (#{rfRightCode,jdbcType=VARCHAR}, #{rfRoleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.bean.SysRoleRightKey" >
    insert into sys_role_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rfRightCode != null" >
        rf_right_code,
      </if>
      <if test="rfRoleId != null" >
        rf_role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rfRightCode != null" >
        #{rfRightCode,jdbcType=VARCHAR},
      </if>
      <if test="rfRoleId != null" >
        #{rfRoleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crm.bean.SysRoleRightExample" resultType="java.lang.Integer" >
    select count(*) from sys_role_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_role_right
    <set >
      <if test="record.rfRightCode != null" >
        rf_right_code = #{record.rfRightCode,jdbcType=VARCHAR},
      </if>
      <if test="record.rfRoleId != null" >
        rf_role_id = #{record.rfRoleId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_role_right
    set rf_right_code = #{record.rfRightCode,jdbcType=VARCHAR},
      rf_role_id = #{record.rfRoleId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>